################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

#ConnectionStrings.config

# User-specific files
*.suo
*.user
*.userosscache

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
.vscode/
.sonarqube
packages/

/.vs

*.jfm
*.dbmdl
*.log
/packages

Release
Debug
logs
bin
obj